#all-country-live-cases-section {
  @include volume(100%, 40em);
  // justify-content: space-around;
  align-items: center;
  padding: 3em;

  #full-case-list-heading {
    @include volume(35em, auto);
    
    #heading-container {

      h1 {
        font-size: 2em;
        color: var(--text-color);
        
        span {
          color: var(--primary-color);
          font-size: 2.6em;
        }
      }
    }

    #bg-heading {
      position: absolute;
      opacity: 0.09;
      font-size: 8em;
      color: var(--text-color);
    }
  }

  #full-case-list-table {
    @include volume(unset, 30em);
    background: #fff;
    border-radius: 12px;
    overflow: auto;
    padding: 0 1em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

    #table-bg {
      @include volume(5em, 5em);
      position: absolute;
      margin-left: 5.5em;
      margin-top: 6em;
      opacity: 0.4;
    }
    
    table {
      width: 28em;
      border-collapse: collapse;
      background: transparent;
      border: 1px solid black;
      
      #table-header {
        background: var(--primary-color);

        th {
          width: 4em;
          background: #fff;
          color: var(--primary-color);
          position: sticky;
          top: 0;
          border-bottom: 2px solid var(--primary-color);
        }
      }

      tr {
        border-radius: 6px;
      }
      tbody tr:hover {
        background-color: var(--secondry-color);
        color: #ffffff;
        text-shadow: 1px 2px #000000;
      }
    }

    table,
    th,
    td {
      border: none;
      text-align: center;
    }

    th,
    td {
      padding: 8px 4px;
      font-size: 1em;
    }

    tr:hover {
      background: var(--primary-color);
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  #all-country-live-cases-section {
    flex-direction: column;
    padding-top: 5em;

    #full-case-list-table {
      margin-top: 3em;
    }
  }
}
