#prevent-header {
  @include volume(auto, 25em);
  flex-direction: column;

  #prevent-heading {
    color: var(--primary-color);
    font-size: 3.5em;
    border-left: 10px solid var(--secondry-color);
    padding-left: 1em;
    margin-top: 2.6em;
    margin-left: 2em;
  }

  #sub-heading {
    margin-left: 3.5em;
    margin-top: 1.5em;
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: 6px 0;
    padding-left: 1em;
    width: 55%;
    font-size: 2em;
    border-right: 10px solid var(--secondry-color);
    word-spacing: 0.3em;
  }

  #content-navigation {
    a {
      text-decoration: none;
      color: var(--primary-color);
    }
    #navigation-line {
      font-size: 1.5em;
      margin-left: 4.6em;
      margin-top: 1.5em;
      color: var(--secondry-color);
    }
  }
}

#headline-section {
  @include volume(100%, auto);
  padding: 1em 7em;
  // border: 1px solid black;

  #tips {
    .tip {
      margin: 2em 0;
      .tip-content {
        @include volume(100%, 18em);
        padding: 2em 3em;

        p {
          font-size: 1.3em;
          margin-top: 2em;
        }

        .tip-heading {
          font-weight: 500;
          font-size: 1.8em;
        }
      }

      img {
        @include volume(250px, 250px);
      }

      #surface-list {
        list-style: disc;
        margin-left: 1.4em;
        margin-top: 1em;

        li {
          font-size: 1.2em;
        }
      }
    }
  }
}

#content-container {
  flex-direction: column;
}
.headline {
  @include volume(70%, auto);
  padding: 2em;
  color: var(--primary-color);
  font-size: 1.29em;
  border-radius: 10px;
  background-color: rgba(197, 50, 255, 0.2);
  // background: linear-gradient(#fff 10%, rgba(197, 50, 255, 0.2) 80%, #fff );
  border-left: 0.3em solid rgba(252, 205, 4, 0.4);
}

.prevent-heading {
  color: var(--primary-color);
  font-size: 3.5em;
  border-left: 10px solid var(--secondry-color);
  padding-left: 1em;
}

#steps-heading {
  margin: 1.5em 0;
  font-size: 2.5em;
  width: 75%;
}

#importance {
  padding-left: 6em;

  p {
    font-size: 1.3em;
    margin-left: 2.2em;
    margin-top: 2em;
  }
  #importance-container {
    width: 80%;
    #importance-heading {
      font-size: 2.5em;
    }
  }

  #importance-content {
    width: 70%;
    margin-top: 2em;
    padding-left: 3em;

    .measure-reason {
      margin: 2em 0;
    }
    .reason-heading {
      font-weight: 500;
    }
  }
}

#when_to_call_your_doctor {
  padding: 0 6em;
  margin-top: 5em;
  #doctor-heading {
    font-size: 2.5em;
  }
  p {
    font-size: 1.3em;
    margin-left: 2.2em;
    margin-top: 2em;
  }
  #content {
    width: 90%;
  }
}
