// ****************** Navbar CSS ******************
#navigation-bar {
  @include volume(100%, 8em);
  justify-content: space-between;
  padding: 0 3em;

  #logo-box {
    @include volume(18em, unset);
    justify-content: space-between;

    #logo-image {
      border-radius: 150px;
      background: #a64ac9;
      box-shadow: 8px 8px 16px #6f3287, -8px -8px 16px #dd62ff;

      background-color: var(--primary-color);
      padding: 4px;
      animation: morph 8s ease-in-out infinite;
      transition: all 1s ease-in-out;
      z-index: 5;
    }

    @keyframes morph {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }

      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }

      100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
    }

    #logo {
      @include volume(4em, 4em);
    }

    #primary-heading {
      padding: 0 1.8em 0 0.5em;
      border: 2px solid var(--secondry-color);
    }
    #secondry-heading {
      display: inline-flex;
      margin-top: 2px;
      padding: 0 1.8em 0 0.8em;
      font-size: 1.5em;
      font-weight: bold;
      background-color: #fccd04;
    }
    #primary-heading,
    #secondry-heading {
      color: #fff;
    }
  }

  #nav-bar {
    @include volume(30em, 2.5em);
    border: 2px solid;
    border-image: linear-gradient(
      10deg,
      var(--secondry-color) 30%,
      #fff 10%,
      var(--primary-color) 60%
    );
    border-image-slice: 1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    ul {
      width: 30em;
      justify-content: space-evenly;

      .nav-link {
        font-size: 1em;
        font-weight: bold;
        // color: #fff;
        color: var(--primary-color);
        position: relative;

        &::before {
          content: " ";
          top: -120%;
          left: 50%;
          height: 6px;
          width: 6px;
          background: var(--secondry-color);
          border-radius: 40px;
          transition: all 0.4s ease-in-out;
          // box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
        }

        &:hover::before {
          position: absolute;
          top: -20%;
        }
      }

      .active::before {
        position: absolute;
        top: -20%;
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
      }
    }
  }

  #social-links {
    @include volume(8em, unset);
    background: #a64ac9;
    border-radius: 50px;
    padding-top: 20px 0;
    justify-content: space-around;

    a {
      text-decoration: none;
      font-size: 1.1em;
      color: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }
}

// ****************** Navbar CSS ******************

// ****************** Background Bubble CSS ******************

.bubble {
  position: absolute;
}
.bubble-1 {
  top: -7em;
  left: -1em;
  height: 18em;
  width: 39%;
  border-radius: 47% 53% 65% 35% / 44% 9% 91% 56%;
  background-color: var(--primary-color);
  z-index: -2;
}

#menu-btn {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 91%;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: var(--primary-color);

  &:hover {
    border: 2px solid #fff;
    color: #fff;
  }
}

// ****************** Background Bubble CSS ******************

@media (max-width: 1120px) {
  #navigation-bar {
    #logo-box {
      margin-left: 2em;
    }
  }
}

@media (max-width: 955px) {
  /* Styles */
  #menu-btn {
    display: block;
  }
  .bubble-1 {
    display: none;
  }
  #navigation-bar {
    flex-direction: column;
    justify-content: unset;

    #logo-box {
      width: 100%;
      margin-left: 0;
      background-color: var(--primary-color);
      padding: 1em 3em;
      justify-content: end;

      #logo-heading {
        margin-left: 1em;
      }
    }

    #nav-bar {
      display: none;
      @include volume(100%, auto);
      padding: 1.4em 0em;
      background: linear-gradient(180deg, #a64ac9 96%, #fccd04 4%);

      ul {
        display: block;
        padding: 0 0em;

        .nav-link {
          font-size: 1.3em;
        }

        li {
          text-align: center;
          padding: 8px 0;

          &:hover {
            background-color: var(--secondry-color);
          }
        }
      }
    }
  }
}
